<a href="/admin/files/refresh" class="new btn btn-primary">Refresh file list</a>
<h1>Files uploaded to /build</h1>

<table class='table'>
  <tr>
    <th>Show Details</th>
    <th>Published</th>
    <th>Size</th>
    <th>Build Date</th>
    <th>Build Device</th>
    <th>Download</th>
    <th>Delete</th>
  </tr>

  {{range .files }}
  <tr>
    <td><a href='/admin/files/show/{{ .Id }}'>{{ .Name }}</a></td>
    <td>{{ .Published }}</td>
    <td>{{ .Size }}</td>
    <td>{{ .BuildDate }}</td>
    <td>{{ .Device }}</td>
    <td><a href='{{ .DownloadUrl }}'>Download</a></td>
    <td>
      <form action="/admin/files/delete" method="post">
        <input type='hidden' name='Id' value='{{ .Id }}'>
        <input type='submit' value='Delete'>
      </form>
    </td>
  </tr>
  {{ end }}
</table>
