{{define "content"}}
  <a href="/releases">< Back to Releases</a>
  <h1>Showing Release {{ .VersionNo }}</h1>

  {{with .release }}
    <table class="table">
      <tr>
        <td>Filename</td>
        <td>{{ .Filename }}</td>
      </tr>
      <tr>
        <td>Created</td>
        <td>{{ .Created }}</td>
      </tr>
      <tr>
        <td>ApiLevel</td>
        <td>{{ .ApiLevel}}</td>
      </tr>
      <tr>
        <td>Channel</td>
        <td>{{ .Channel }}</td>
      </tr>
      <tr>
        <td>Md5sum</td>
        <td>{{ .Md5sum}}</td>
      </tr>
      <tr>
        <td>Changelog</td>
        <td>{{ .Changelog}}</td>
      </tr>

      <tr>
        <td>Download</td>
        <td>
          <p><a href='/downloads/{{ .Filename }}'>Download</a></p>
        </td>
      </tr>
      <tr>
        <td>Delete</td>
        <td>
          <form action="/releases/delete" method="post">
            <input type='hidden' name='Id' value='{{ .Id }}'>
            <input type='submit' value='Delete'>
          </form>
        </td>
      </tr>
    </table>
  {{end}}
{{end}}
