<a href="/admin/releases/new" class="new btn btn-primary">New Release</a>
<h1>Releases</h1>
<table class='table'>
  <tr>
    <th>Created at</th>
    <th>File</th>
    <th>Channel</th>
    <th>Published</th>
    <th>Changelog</th>
    <th colspan='2'>Actions</th>
  </tr>

  {{range .releases }}
    <tr>
      <td>{{ .Created }}</td>
      <td><a href='/admin/files/show/{{ .FileId }}'>{{ .FileName }}</a></td>
      <td>{{ .Channel }}</td>
      <td>
        Yes
      </td>
      <td><a href='/admin/releases/changelog/{{ .Id }}'>Changelog</a></td>
      <td><a href='/admin/releases/edit/{{ .Id }}'>Edit</a></td>
      <td>
        <form action="/admin/releases/delete" method="post">
          <input type='hidden' name='Id' value='{{ .Id }}'>
          <input type='submit' value='Delete'>
        </form>
      </td>
    </tr>
  {{ end }}
</table>
